@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --shadow: #909090;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fafafa;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  background-color: rgb(232, 232, 232);
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a.mindblow:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.cell {
  width: 99.5%;
  height: 99.5%;
  background-color: rgb(250, 250, 250);
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20%;
  box-shadow: -1px -1px 2px rgba(146, 146, 146, 0.1),
    1px 1px 2px rgba(192, 192, 192, 0.1);
}

.letter::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: transparent; */
  border-radius: 20%;
  box-shadow: inset -1px -1px 2px rgba(250, 250, 250, 0.186),
    inset 1px 1px 2px rgba(119, 113, 113, 0.1);
}

.scene {
  perspective: 600px;
  background: rgb(244, 244, 244);
  box-shadow: inset -2px -2px 4px rgb(129, 129, 129),
    inset 10px 10px 4px rgb(255, 255, 255);
}

.scene:hover {
  perspective: 400px;
  cursor: pointer;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.cube__face--right {
  background: rgb(177, 177, 177);
}
.cube__face--back {
  background: hsla(0, 0%, 55%, 1);
}
.cube__face--left {
  background: hsla(0, 0%, 91%, 1);
}
.cube__face--top {
  background: hsla(0, 0%, 96%, 1);
}
.cube__face--bottom {
  background: rgb(116, 116, 116);
}

.face {
  border-radius: 10%;
  width: 92%;
  height: 92%;
  position: absolute;
  top: 4%;
  left: 4%;
}

.glass {
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.heavy-glass {
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
}
